<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%load static%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <title>All Trips</title>
</head>
<body>
    <div class="container">
        <div class="upper-nav">
            <h1>Hello {{request.session.first_name}}! Let's edit your trip!</h1>
            <a href="/logout">Logout</a>
            <a href="/trips">Main</a>

        </div>
        <div id="edit-trip">
            <form method='POST' action='/trips/edit_trip'>
                {%csrf_token%}
                <input type="hidden" name="trip_id" value={{trip.id}}>
                <p>Destination:</p><input type="text" name="destination" value="{{trip.destination}}">
                <p>Start Date:</p><input type="text" name="start_date" value="{{trip.start_date|safe}}">
                <p>End Date:</p><input type="text" name="end_date" value="{{trip.end_date|safe}}">
                <p>Plan:</p><textarea name="plan">{{trip.plan}}</textarea>
                <a href='/trips'>Cancel</a>
                <input type="submit" value="Update">
            </form>
            
        </div>
        {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>