<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h1>{{author_info.first_name}} {{author_info.last_name}}</h1>
    <h4>ID: {{author_info.id}}</h2>
    <h4>Notes</h4>
    <p>{{author_info.notes}}</p>
   
        <p>Books</p>
        {%for book in author_info.books.all%}
        <p>{{book.title}}</p>
        {%endfor%}
    <form method="POST">
        {%csrf_token%}
        <select name="book_id">
            {%for book in all_books%}
            <option value={{book.id}}>{{book.title}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Add">
    </form>
    
</body>
</html>