<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Document</title>
</head>
<body>
    {%for i in range(0,ynum)%}
    <div class="row">
        {%for j in range(0,xnum)%}
        {%if (j+i)%2 == 0%}
        <div class="box1"></div>
        {%else%}
        <div class="box2"></div>
        {%endif%}
        {%endfor%}
    </div>
    {%endfor%}
        
</body>
</html>
