/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /* outline: 15px solid black; */
   }
body {
    font-family:Sans-Serif;
  }
.box1{
    display: inline-block;
    height:60px; 
    width:60px;
    background-color: green;
    margin:-3px;
}
.box2{
    display: inline-block;
    height:60px; 
    width:60px;
    background-color: slategrey;
    margin:-3px;
}
.row{

    display:block;
    /* outline:5px solid black; */
/* background-color:blue;} */
}